.idea/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings/
.vscode/

.gradle/
gradle-app.setting

build/
*/build/
out/
*.class
*.jar
*.war
*.ear

run/
runs/
logs/
*.log
crash-reports/
*.lock
*.tmp
*.temp

config/qqbind/
*.json
!src/main/templates/**/*.toml
!src/main/resources/**/*.toml
!common-src/**/*.json?
!gradle.properties   # 不排除 gradle.properties，它通常不含敏感信息
*.properties

Thumbs.db
.DS_Store

*.png
*.jpg
*.jpeg
!src/main/resources/**/*.png  # 如果有图标等资源图片，排除临时生成的
!**/resources/**/*.png

*.cache
*.log
*.bak
*.swp
*~